body {
    font-family: Arial;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f5f5f5;
}

.stats p {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
}